openapi: 3.0.3
info:
  title: Codessian Cortex API
  description: API documentation for Codessian Cortex
  version: 1.0.0
  contact:
    name: API Support
    email: support@codessian-cortex.com
servers:
  - url: https://api.codessian-cortex.com/v1
    description: Production server
  - url: http://localhost:8000/v1
    description: Development server

paths:
  /health:
    get:
      summary: Health check endpoint
      description: Returns the health status of the service
      operationId: healthCheck
      tags:
        - System
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /status:
    get:
      summary: Service status
      description: Returns detailed service status information
      operationId: getStatus
      tags:
        - System
      responses:
        '200':
          description: Service status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'

components:
  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, unhealthy]
          description: Overall health status
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the health check
        version:
          type: string
          description: Service version
      required:
        - status
        - timestamp

    StatusResponse:
      type: object
      properties:
        service:
          type: string
          description: Service name
        version:
          type: string
          description: Service version
        environment:
          type: string
          description: Deployment environment
        uptime:
          type: integer
          description: Service uptime in seconds
        dependencies:
          type: object
          additionalProperties:
            type: object
            properties:
              status:
                type: string
                enum: [healthy, unhealthy, unknown]
              latency:
                type: integer
                description: Response time in milliseconds
      required:
        - service
        - version
        - environment

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code
            message:
              type: string
              description: Human-readable error message
            details:
              type: object
              description: Additional error details
          required:
            - code
            - message
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the error occurred
      required:
        - error
        - timestamp

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []